@import "../variables.scss";

$grid-gap: 45px;

.root {
  display: grid;
  grid-gap: $grid-gap;
  grid-auto-flow: column;

  .main {
    @include outlined;
  }
  .sidebar {
    display: inline;
    width: 300px;

    .communityInfo {
      @include outlined;
      margin-bottom: $grid-gap;
      min-height: 150px;

      .header {
        height: 60px;
        line-height: 60px;
        font-size: $font-header-size;
        border-bottom: $border-bottom-dotted;
      }
      .body {
        padding: 15px;
      }
    }
    .relatedCommunities {
      @include outlined;

      .header {
        height: 60px;
        line-height: 60px;
        font-size: $font-header-size;
        border-bottom: $border-bottom-dotted;
      }
      .body {
        padding: 15px;
      }
    }
  }
}
