@import "../variables";

$vertical-space: 10px;

.root {
  margin-bottom: $vertical-space;
  display: grid;
  grid-template-columns: 54px auto;
  .like {
    margin: 10px 5px;
    .heart {
      color: #be1931;
      margin-bottom: 2px;
    }
    .likeCount {
      font-weight: bold;
      font-size: $font-header-size;
    }
  }
  .main {
    display: grid;
    .header {
      color: $white;
      font-weight: bold;
      font-size: $font-header-size;
      margin-bottom: $vertical-space / 2;
    }
    .body {
      .preview {
        margin-bottom: $vertical-space / 2;
        color: $white;
      }
      .summary {
        margin-bottom: $vertical-space / 2;
        display: flex;
        * {
          margin-right: 5px;
        }
      }
    }
  }
}
