@import "../variables";

$vertical-space: 10px;

.root {
  margin-bottom: $vertical-space;
  display: grid;
  grid-template-columns: 54px auto;
  .like {
    margin: 10px auto;
    .heart {
      color: #be1931;
      margin-bottom: 2px;
    }
    .likeCount {
      font-weight: bold;
    }
  }
  .main {
    display: grid;
    .header {
      font-weight: bold;
      font-size: $default-font-size + 2;
      margin-bottom: $vertical-space;
    }
    .body {
      .preview {
        margin-bottom: $vertical-space;
        color: #778;
      }
      .summary {
        margin-bottom: $vertical-space;
        display: flex;
        * {
          margin-right: 5px;
        }
      }
    }
  }
}
