@import "../variables";

.root {
  .controls {
    min-height: 60px;
    border-bottom: $border-bottom-dotted;
    font-weight: bold;
    font-size: $font-header-size;
    line-height: 60px;
  }
  .runway {
    padding: 15px;
  }
}
