@import "../variables.scss";

$max-width: 1200px;
$header-height: 60px;

.root {
  .header {
    height: $header-height;
    background-color: $primary;
    margin-bottom: 30px;

    .headerContent {
      max-width: $max-width;
      margin: auto;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;

      & * {
        font-size: $font-title-size;
        color: #090909;
        font-weight: bold;
        line-height: $header-height;
      }

      .logo {
        user-select: none;
      }
    }
  }
  .body {
    margin: auto;
    max-width: $max-width;
  }
}
