@import "../variables.scss";

$max-width: 680px;

.root {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9998;

  .main {
    @include outlined;
    background-color: #090909;
    max-width: $max-width;
    width: $max-width;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;

    .header {
      max-width: $max-width - 30;
      width: $max-width - 30;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      padding: 15px;
      border-bottom: $border-bottom-dotted;

      .title {
        font-size: $font-title-size;
        font-weight: bold;
        color: $white;
      }
      .closeButton {
        font-size: $font-body-size;
      }
    }
    .body {
      .bodyContent {
        min-height: 200px;
        padding: 15px;
      }
    }
  }
}
