@import "../variables";

.controls {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
}

.newPostButton {
  $height: 48px;
  font-size: $font-header-size;
  background: linear-gradient(95.52deg, #21c0e3 0%, #1b23de 100%);
  width: 90px;
  height: $height;
  line-height: $height;
  border-radius: 2px;
  text-align: center;
}
